.container {
  width: 100%;
  height: 480px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Horizontally */
  justify-content: flex-start;
  /* vertical */
  align-items: center;
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}
